.contenedor-cambiar-contrasena {
    border-radius: 10px;
    padding: 10px 10px;
    position: relative;
    background: #202020;
    top: 40px;
}

.form-cambiar-contrasena {
    width: 320px;
    background: #202020;
    border-radius: 5px;
    padding: 10px 5px;
}
