.input-equipo {
    margin-bottom: 15px;
}

.imagen-equipo {
    height: 4rem;
}

.alternativo-registro {
    color: rgb(146, 143, 143);
}

.icono-calendario {
    font-size: 1.714em;
}

.boton-fecha {
    border: 1px solid #fff;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 88%;
    color: #dadada;
}

.contenedor-genero {
    display: none;
}
